node_modules

/.cache
/build
/app/build
/public/build/
/public/_dev
/app/public/build
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
/extensions/*/dist
database.sqlite

# ide
.vscode
.idea

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env
.DS_Store
.env
.env.local
shopify.app.local.toml
