# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

name = "Shortage"
client_id = "da512afd49d7585bdfbe23a0d1453ba5"
application_url = "https://warranties-alphabetical-community-staffing.trycloudflare.com"
embedded = true

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_products,write_products,read_orders,write_orders"

[auth]
redirect_urls = [
  "https://warranties-alphabetical-community-staffing.trycloudflare.com/auth/callback",
  "https://warranties-alphabetical-community-staffing.trycloudflare.com/auth/shopify/callback",
  "https://warranties-alphabetical-community-staffing.trycloudflare.com/api/auth/callback"
]

[webhooks]
api_version = "2023-10"

[pos]
embedded = false

[build]
automatically_update_urls_on_dev = true
dev_store_url = "shortagedev.myshopify.com"
