
<div class="donate_wrapper"></div>

<script>
var product_id = {{product.id}};
var tunel_url = 'https://bond-vc-scenic-chest.trycloudflare.com';
var productPair = [];

document.addEventListener('DOMContentLoaded', function() {
	const originalAddToCartButton = document.querySelector('[type="submit"][name="add"]');

	function getPair() {		
		if(!product_id) return;

		fetch(tunel_url + '/pair?prodId='+ product_id).then(res => res.json()).then(data => {
			console.log("🚀 ~ data:", data);
			if(data && data.exists) injectButton();
			productPair = data.product;
		})
	}

	function getQuantity() {
		return document.querySelector('[name="quantity"]') ? document.querySelector('[name="quantity"]').value : 1;
	}

	function getProdVarId() {
		const params = window.location.search.split('variant=');
		if (params.length > 1) {
			return params[1].split('&')[0];
		}
		return document.querySelector('[name="id"]') ? document.querySelector('[name="id"]').value : null;
	}

	async function getOrganisationInfo() {
		if (!productPair) return;

		const response = await fetch(tunel_url + '/organization?organizationSlug=' + productPair.shortageOrganizationId);
		const data = await response.json();
		console.log("🚀 ~ getOrganisationInfo:", data);
		return data && data.exists ? data.organization : null;
	}

	async function injectPropertiesAndSubmit(productVariantId = getProdVarId(), qty = getQuantity()) {
		if (!productVariantId) return;

		const organization = await getOrganisationInfo();
		if (!organization) {
			console.error('Organization not found!');
			return;
		}

		// Inject hidden fields with properties into the form
		const form = originalAddToCartButton.closest('form[action="/cart/add"]'); // Find the parent Add to Cart form 
		if (!form) {
			console.error('Parent Add to Cart form not found!');
			addToCart(productVariantId, qty);
			return;
		}

		const properties = {
			'For Donation': 'Yes',
			'Shipping Name': organization.name,
			'Shipping Phone': organization.phone_number,
			'Shipping Address': `${organization.address_line1}, ${organization.address_line2 || ''}`,
			'Shipping City': `${organization.country}, ${organization.state_province_region}, ${organization.city}, ${organization.zip}`
		};

		Object.keys(properties).forEach(key => {
			const input = document.createElement('input');
			input.classList = 'donate-property';
			input.type = 'hidden';
			input.name = `properties[${key}]`;
			input.value = properties[key];
			form.appendChild(input);
		});

		// Trigger the default Shopify Add to Cart button
		if (originalAddToCartButton) {
			originalAddToCartButton.click();
			// delete all html properties
			setTimeout(() => {
				document.querySelectorAll('.donate-property').forEach(el => el.remove());
			}, 0);
		} else {
			addToCart(productVariantId, qty);
		}
	}

	function addToCart(productVariantId, qty) {
		fetch('/cart/add.js', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({
				items: [{
				id: productVariantId,
				quantity: qty,
				properties: {
					'For Donation': 'Yes',
					'Shipping Name': organization.name,
					'Shipping Phone': organization.phone_number,
					'Shipping City': organization.country + ', ' + organization.state_province_region + ', ' + organization.city + ', ' + organization.zip,
					'Shipping Address': organization.address_line1 + ', ' + (organization.address_line2 ? organization.address_line2 : ''),
				}
				}]
			})
		}).then(response => response.json())
		.then(data => window.location.reload())
		.catch((error) => console.error('Error:', error));

	}

	function injectButton(txt = 'Donate this') {
		const btn = document.createElement('button');
		btn.innerHTML = 'Donate This';
		btn.style = 'width: 100%; background: darkorange; border: none; line-height: 40px; margin-top: 10px; font-size: 14px; cursor: pointer;';
		btn.onclick = injectPropertiesAndSubmit;
		document.querySelector('.donate_wrapper').appendChild(btn);
	}

	var productJson = document.querySelector('script[type="application/json"]');
	if (productJson) {
		var productData = JSON.parse(productJson.innerText);
		if (productData && productData.product) {
			console.log("Product ID:", productData.product.id);
		}
	}	

	//preview in editor mode
	if (window.location.href.includes('oseid')) {
		injectButton();
	} else {
		getPair();
	}
}); 
</script>

<style>
	div[id^="shopify-block-shortage2_donate_button_"] {
		margin: -25px 0 0 0;
	}
</style>

{% schema %}
{
	"name": "Donate Button",
	"target": "section",
	"settings": []
}
{% endschema %}

